/***************/
/* FONT RULES  */
/***************/

h1,h2,h3,h4,h5,h6 {
	font-family: "Playfair Display", "serif";
}

h1 {
	font-size: 2.75rem;
}

h2 {
	font-size: 2.25rem
}

h3 {
	font-size: 1.75rem;

}

h4 {
	font-size: 1.25rem
}

h5 {
	font-size: 1rem;
	font-family: "raleway";
}

p {
	font-family: "raleway";
	font-size: 1rem;
}

.products h4 {
	color:rgb(226,87,76);
	font-weight:700;
	padding:10px;
}

/****************/
/* text styling */
/****************/

.bold {
	font-style: normal;
	font-weight: 700;
}

.italic {
	font-style: italic;
}

.text-center {
	text-align:center;
}

.text-middle {
  	vertical-align: middle;
}

.text-shadow {
	text-shadow: 2px 2px 4px grey;

}

.text-normal{
	text-decoration: none;
}

h1 {
	width:100%;
	padding-top: 27px;
    line-height: 36px;
}
.line-break {
	display:block;
}

.line-height {
	line-height: 5vh
}
/***************/
/* TEXT COLORS */
/***************/

.white {
	color: white;

}

.colorgrey{
	color: grey;
}

.colorflamingo {
	color:rgb(226,87,76)
}

/*************************/
/****** BORDER RULES *****/
/*************************/

.border-top-small {
	border-top:2px solid rgb(215,215,215);
}

hr {
	color:grey
}

/*********************/
/* FLEX BOXES HEADER */
/*********************/

.flex-container {
	display:flex;
	flex-wrap:wrap;
	justify-content: space-around;
	margin-top:5%;

}

.flex-item-nav {
	order:3;
	display: flex;
	/*list-style: none;*
    /*align-items: stretch; /* Default */
    justify-content: space-around;
    width: 100%;

}
/* the code below changes the order of my flex boxes*/

/*************************/
/* FLEX BOXES CATEGORIES */
/*************************/

.category {
	display:flex;
	flex-wrap:wrap;
	justify-content: space-around;
	margin-top:5%;
}

.flex-item img {
	width:25%;
}


/*********************/
/* BACKGROUND IMAGES */
/*********************/

#banner {
	min-height: 67vh;
	background: linear-gradient(rgba(0,0,0,0.25) 100%,transparent), url("assets/images/banner-girl.png") center bottom no-repeat, url("assets/images/flower-bkgd.jpg") repeat-x;
	background-size: contain, auto 90%, cover;	
	
}

/***************/
/* Logo & Cart */
/***************/

.aloha-logo img {
	max-width:50%;
}

.cart img {
	height:70%;
	position:relative;
}

/*******/
/* NAV */
/*******/

.nav-list {
	text-transform:uppercase;
	color:rgb(226,87,76);
	padding: 25px 0px
}

.top {
	padding-top:25.5%;
}
.padding-top {
	padding-top:5%;
}

.padding-top-10 {
	padding-top:10%;
}